html {
    scroll-behavior: smooth;
}

.global-wrapper {
    overflow-x: hidden;
}

/* Estilos para dispositivos móveis pequenos*/
@media (max-width: 374px) {}

/* Estilos para dispositivos móveis */
@media (min-width: 375px) and (max-width: 700px) {}

/* Estilos para tablets */
@media (min-width : 701px) and (max-width : 1023px) {}

/* Estilos para dispositivos Desktops e Laptops */
@media (min-width: 1024px) {
    #banner {
        height: 50vw;
        background-image: url('../../assets/img/doctor-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }

    #banner .banner-text {
        color: white;
        line-height: 64px;
        font-size: 42px;
        margin-bottom: 120px;
    }

    .corpo-card {
        width: 100%;
        height: 560px;
        border: 1px solid #9a9a9a60;
        flex-direction: column;
        background: white;
        margin: 20px;
        position: relative;
    }

    .corpo-clinico .image-container {
        width: 100%;
        height: 30%;
    }

    .corpo-card .corpo-clinico-img {
        object-fit: cover;
    }
}